<nav class="navbar bg-accentgreen pt-5 pb-5">
      <h1 class="text-inherit  flex-initial " id="title">PetFeed</h1>
      <div>
        <a class="flex-initial pr-2.5 hover:text-texthover">login</a>
      </div>
    </nav>