<nav class='navbar pt-5 pb-5 theme-d5'>
  <h1 class='text-inherit flex-initial' id='title'>PetFeed</h1>
  <div>
    <a class='flex-initial pr-2.5'>
      {{#if loggedIn}}
        login
      {{else}}
        logout
      {{/if}}
    </a>
  </div>
</nav>