<nav class='navbar theme-d5'>
  <a href='/' id='nav-home'>
    <h1 class='page-title' id='title'>PetFeed</h1>
  </a>
  <ul class='nav'>
    {{#if loggedIn}}
      <li class='nav-li'>
        <a href='/' class='nav-icon' id='profile-link'>
          <i class='fa-solid fa-house'></i>
        </a>
        <div class='nav-tooltip theme-d3'>Home</div>
      </li>
      <li class='nav-li'>
        <a href='/post' class='nav-icon' id='profile-link'>
          <i class='fa-regular fa-square-plus'></i>
        </a>
        <div class='nav-tooltip theme-d3'>Create Post</div>
      </li>
      <li class='nav-li'>
        <a href='/profile' class='nav-icon' id='profile-link'>
          <i class='fa-solid fa-user'></i>
        </a>
        <div class='nav-tooltip theme-d3'>Profile</div>
      </li>
      <li class='nav-li'>
        <a href='/login' class='nav-icon' id='nav-logout'>
          <i class='fa-solid fa-arrow-right-from-bracket'></i>
        </a>
        <div class='nav-tooltip theme-d3'>Logout</div>
      </li>
    {{else}}
      <li class='nav-li'>
        <a href='/login' class='nav-icon' id='nav-login'>
          <i class='fa-solid fa-right-to-bracket'></i>
        </a>
        <div class='nav-tooltip theme-d3'>Login</div>
      </li>
    {{/if}}
  </ul>
</nav>