<nav class='navbar pt-5 pb-5 theme-d5'>
  <a href='/' id='nav-home'>
    <h1 class='page-title' id='title'>PetFeed</h1>
  </a>
  <ul class="nav">
    {{#if loggedIn}}
      <li>
        <a href="/" class="nav-icon" id="profile-link"><i class="fa-solid fa-house"></i></a>
      </li>
      <li>
        <a href="/post" class="nav-icon" id="profile-link"><i class="fa-regular fa-square-plus"></i></a>
      </li>
      <li>
        <a href='/profile' class='nav-icon' id='profile-link'><i class='fa-solid fa-user'></i>
        </a>
      </li>
      <li>
        <a href='/login' class='nav-icon' id='nav-logout'><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
      </li>
    {{else}}
      <li>
        <a href='/login' class='nav-icon' id='nav-login'><i class="fa-solid fa-right-to-bracket"></i> Login</a>
      </li>
    {{/if}}
  </ul>
</nav>