<div class='w-1/5 h-full border-2 border-solid border-pettext'>
  <h1 class='mx-1 my-0.5'>{{pet_name}}</h1>
  <hr />
  <h2 class='mx-1 my-0.5'>{{species}}</h2>
  <h2 class='mx-1 my-0.5'>{{breed}}</h2>
  <section class='profile-links'>
    <ul>
      <li><a href='/update-pet/'>Update Pet</a></li>
      <li><a href='/update-email/'>Update your email address</a></li>
      <li><a href='/update-password/'>Change your password</a></li>
    </ul>
  </section>
</div>