<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <script
      src='https://kit.fontawesome.com/48a7f32bdc.js'
      crossorigin='anonymous'
    ></script>
    <link rel='stylesheet' href='/css/tailwind.css' />
    <link rel='stylesheet' href='/css/globals.css' />
    <title>PetFeed</title>
  </head>
  <body class='theme-l1'>
    <nav class='navbar theme-d5'>
      <a href='/' id='nav-home'>
        <h1 class='page-title' id='title'>PetFeed</h1>
      </a>
      <ul class='nav'>
        {{#if loggedIn}}
          <li class='nav-li'>
            <a href='/' class='nav-icon' id='profile-link'>
              <i class='fa-solid fa-house'></i>
            </a>
            <div class='nav-tooltip theme-d3'>Home</div>
          </li>
          <li class='nav-li'>
            <a href='/post' class='nav-icon' id='profile-link'>
              <i class='fa-regular fa-square-plus'></i>
            </a>
            <div class='nav-tooltip theme-d3'><span>Create Post</span></div>
          </li>
          <li class='nav-li'>
            <a href='/profile' class='nav-icon' id='profile-link'>
              <i class='fa-solid fa-user'></i>
            </a>
            <div class='nav-tooltip theme-d3'>Profile</div>
          </li>
          <li class='nav-li'>
            <a href='/login' class='nav-icon' id='nav-logout'>
              <i class='fa-solid fa-arrow-right-from-bracket'></i>
            </a>
            <div class='nav-tooltip theme-d3'>Logout</div>
          </li>
        {{else}}
          <li class='nav-li'>
            <a href='/login' class='nav-icon' id='nav-login'>
              <i class='fa-solid fa-right-to-bracket'></i>
            </a>
            <div class='nav-tooltip theme-d3'>Login</div>
          </li>
        {{/if}}
      </ul>
    </nav>
    <main>
      {{{body}}}

    </main>

    <script
      src='https://code.jquery.com/jquery-3.6.3.min.js'
      integrity='sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU='
      crossorigin='anonymous'
    ></script>
    {{#if isProfilePage}}
      <script src='/js/profile-hamburger.js'></script>
    {{/if}}
    {{#if loggedIn}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>
</html>