<div class="row justify-space-between-md">
  <div class="post-card">
    <h2 class="page-title">New Post</h2>
    <form class="form post-form">
      <div class="form-group">
        <label for="post-title">Title:</label>
        <input class="form-input" type="text" id="post-title" />
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <input class="form-input" type="text" id="description" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Post</button>
      </div>
    </form>
  </div>
</div>

<script src="../js/login.js"></script>