<link rel='stylesheet' href='/css/pages/error.css' />

<div class='error-wrapper'>

  <div class='error-card theme-d1'>
    <h2 class='error-card-title'>404 Error</h2>
    <p class='error-text theme-d1'>This is not the page you were looking for</p>
  </div>
</div>