<link rel='stylesheet' href='/css/pages/login.css' />

<div class='login-wrapper'>

  <div class='login-card theme-d3'>
    <h2 class='login-card-title'>Login</h2>
    <form class='form login-form'>
      <div class='form-group'>
        <label for='email-login'>Email:</label>
        <input class='form-input theme-l5' type='text' id='email-login' />
      </div>
      <div class='form-group'>
        <label for='password-login'>Password:</label>
        <input
          class='form-input theme-l5'
          type='password'
          id='password-login'
        />
      </div>
      <div class='form-group'>
        <button class='login-btn theme-d5' type='submit'>Login</button>
      </div>
    </form>
  </div>

  <div class='login-card theme-d3'>
    <h2 class='login-card-title'>Signup</h2>
    <form class='form signup-form'>
      <div class='form-group'>
        <label for='username-signup'>Username:</label>
        <input class='form-input theme-l5' type='text' id='username-signup' />
      </div>
      <div class='form-group'>
        <label for='email-signup'>Email:</label>
        <input class='form-input theme-l5' type='text' id='email-signup' />
      </div>
      <div class='form-group'>
        <label for='password-signup'>Password:</label>
        <input
          class='form-input theme-l5'
          type='password'
          id='password-signup'
        />
      </div>
      <div class='form-group'>
        <label for='password-signup-confirm'>Password Confirm:</label>
        <input
          class='form-input theme-l5'
          type='password'
          id='password-signup-confirm'
        />
      </div>
      <div class='form-group'>
        <label for='petname-signup'>Pet Name:</label>
        <input class='form-input theme-l5' type='text' id='petname-signup' />
      </div>
      <div class='form-group'>
        <label for='petspecies-signup'>Pet Species</label>
        <input class='form-input theme-l5' type='text' id='petspecies-signup' />
      </div>
      <div class='form-group'>
        <label for='petbreed-signup'>Pet Breed:</label>
        <input class='form-input theme-l5' type='text' id='petbreed-signup' />
      </div>
      <div class='form-group'>
        <button class='login-btn theme-d5' type='submit'>Signup</button>
      </div>
    </form>
  </div>
</div>

<script src='../js/login.js'></script>