<div class=""> 
    {{>profileInfo user }}
    <div class="">
        <div class="">
             {{#each posts as |post|}}
                {{>postcard post = post}}
            {{/each}}
        </div>
    </div>
</div>

