<div class="flex flex-row flex-nowrap">
    {{>profileInfo}}
<div class="flex flex-col justify-center">
    <p class="self-end border border-solid border-pettext text-center ">+</p>
        {{>postOverview post=post}}
</div>
</div>