<div class=" h-full flex flex-row"> 
    {{>profileInfo user }}
    <div class="flex flex-col w-full m-4">

    <div class='inline-flex flex-row flex-wrap my-1.5 justify-around w-full'>
        <label for='update-password'>Update Password: </label>
        <input type='password' id='update-password' />
        <label for = 'update-password-confirm'>Confirm Password: </label>
        <input type='password' id='update-password-confirm'/>
        <div class = 'button-field'>
            <button id='update-name'>Update Password</button>
        </div>
    </div>
    </div>  
</div> 
<script src="../js/update-password.js"></script>