<link rel="stylesheet" href="/css/handlebarsPartials/profile-update-forms.css"/>
<div class="profile-page-main">
  {{>profileInfo user }}
  <div class='profile-content-wrapper'>
    <div class='hamburger-btn theme-d3'>
        <i class='fa-solid fa-bars'></i>
    </div>
    <div class="profile-content">
      <form class='update-form theme-d3'>
        <div class="update-form-title">Update Password</div>
        <div class="update-form-field">
          <label for='update-password'>New Password: </label>
          <input class="theme-l5" type='password' id='update-password' />
        </div>
        <div class="update-form-field">
          <label for='update-password-confirm'>Confirm New Password: </label>
          <input class="theme-l5" type='password' id='update-password-confirm'/>
        </div>
        <div class='form-button-wrapper'>
            <button class="theme-d5 form-submit" id='update-password-btn'>Update Password</button>
        </div>
      </form>
    </div>
  </div>  
</div> 
<script src="../js/update-password.js"></script>
