<div class=" h-full flex flex-row"> 
    {{>profileInfo user }}
    <div class="flex flex-col w-full m-4">

    <div class='inline-flex flex-row flex-wrap my-1.5 justify-around w-full'>
        <label for='update-email'>Update Email Address: </label>
        <input type='text' id='update-email' />
        <div class = 'button-field'>
            <button id="update-name">Update Email</button>
        </div>
    </div>
    </div>  
</div> 
<script src="../js/update-email.js"></script>