.theme-l5 {color:#000 !important; background-color:#f8fbfc !important}
.theme-l3 {color:#000 !important; background-color:#d3e1ee !important}
.theme-l1 {color:#000 !important; background-color:#a7c4dd !important}
.theme-d1 {color:#fff !important; background-color:#77a3ca !important}
.theme-d3 {color:#fff !important; background-color:#4681b4 !important}
.theme-d5 {color:#fff !important; background-color:#325c81 !important}