.update-content {
  display: flex;
  justify-content: center;
  width: 100%;
}

.update-form {
  margin-top: 40px;
  padding: 20px 40px;
  height: max-content;
  border: 2px solid black;
  border-radius: 10px;
}

.update-form-title {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 0 0 5px black;
}

.update-form-field {
  margin-bottom: 20px;
}

.update-form-field label {
  margin-right: 5px;
  text-shadow: 0 0 3px black;
}

.update-form-field input {
  padding-left: 10px;
}

.form-button-wrapper {
  text-align: center;
}

.form-submit {
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid black;
  margin-bottom: 10px;
}
